<div class="container pt-5">
    <app-board header="Things I have worked on">
        <p>I worked on veriety of software applications, Windows applications, Web Apps, Android and iOS apps. These are various techs I used in my projects.</p>
    </app-board>
    @for (group of skillGroups; track group.name) {
        <app-board [header]="group.name">
            <div class="skill-container">
                @for (skill of group.skills; track skill.name) {
                    <app-skill-card [name]="skill.name"
                        [img]="skill.img"
                        [proficiency]="skill.proficiency">
                    </app-skill-card>
                }
            </div>
        </app-board>
    }
    <app-bottom-nav
        previousUrl="/"
        previousText="Go Home"
        nextUrl="/work"
        nextText="My Works"
    ></app-bottom-nav>
</div>
