.app-nav {
    height: 40px !important;
    background-color: $app-nav-background-color;
    padding: 0px;

    ul.nav {
        position: absolute;
        bottom: 0px;

        li.nav-item {
            a.nav-link {
                color: $app-nav-item-color;
                background-color: transparent;
                border-bottom-width: 5px;
                border-bottom-style: solid;
                border-radius: 0px;
                border-bottom-color: transparent;
                transition: all 0.5s ease-in-out;
                padding: .8rem 1rem 0.25rem 1rem;

                &.active {
                    border-bottom-color: $app-nav-item-active-border;
                    color: $app-nav-item-active-color;
                    background-color: $app-nav-item-background-active-color;
                }

                .app-nav-icons {
                    display: none !important;
                }
            }
        }
    }
}

body, section.blur-div::before {
    background: $background-image-url no-repeat $background-color;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.blur-div {
    position: relative;
    overflow: hidden;
    background-color: $data-div-background-color;
    border: 2px solid $data-div-border-color;

    > p {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
}

.blur-div::before {
    content: "";
    display: block;
    z-index: -1;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-main-head{
    margin:20px 0px;
}
.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.43) !important;
}

.my-skill {

    .skill-name {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 20px;
        text-align: center !important;
        line-height: 1;

        > img {
            width: 100%;
        }
    }

    .progress {
        height: 5px;
    }
}

.my-cert {
    padding:20px;
    img {
        width: 100%;
    }
}

.my-cert-details{
    padding:20px;
}

.theme-color {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left:10px;
    cursor:pointer;
    &.active{
        border:2px solid $red;
    }
}

.my-timeline {
    margin: 20px;
    border-left: 1px solid #afebf5;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;

    &::before {
        content: "•";
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: 30px;
    }

    &.exp::before {
        color: $warning;
    }

    &.ed::before {
        color: $success;
    }

    &.red::before{
        color:$danger;
    }
    .time-heading {
        padding-top: 20px;
    }

    .time-details {
        margin-bottom: 0px;
        float: left;
        clear: both;
    }

    .time-heading-title {
        float: left;
    }

    .time-years {
        float: right;
    }
}

.my-contact-info{
    padding:20px;
    img{
        width:100%;
    }
}



@media screen and (max-width: 600px){
    .app-nav ul.nav li.nav-item {
        a.nav-link {
            padding: 0.33rem 1.25rem;

            .nav-names {
                display: none;
            }

            .app-nav-icons {
                display: block !important;
            }
        }
    }
}