<div class="container">
    <div>
        Contact Me @
    </div>
    <div class="contact-container">
        <a ngbTooltip="Email"
            placement="bottom"
            href="maito:nagendra.prajwal@outlook.com">
            <img src="./assets/images/email.svg" width="60px">
        </a>
        <a ngbTooltip="LinkedIn"
            placement="bottom"
            href="https://www.linkedin.com/in/nagendraprajwal/">
            <img src="./assets/images/linkedin.svg" width="60px">
        </a>
        <a ngbTooltip="StackOverflow"
            placement="bottom"
            href="https://stackoverflow.com/story/nagendra.prajwal">
            <img src="./assets/images/so.svg" width="60px">
        </a>
        <a ngbTooltip="GitHub"
            placement="bottom"
            href="https://github.com/prajwalmr62">
            <img src="./assets/images/github.png" width="60px">
        </a>
    </div>
</div>